#jinja2: lstrip_blocks: True
version: '3.8'

services:
  moodleapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: {{fullinstancename}}
    restart: unless-stopped
    networks:
      - frontend
      - default
    volumes:
      - {{ addons_volume }}:/opt
      - {{xayma_moodleapp_paths.config}}/config.php:/var/www/moodle/config.php:ro
    depends_on:
      - mariadb

    {% if preferred_reverse_proxy == "traefik"%}
    labels:
        - traefik.enable=true
        - traefik.http.routers.{{fullinstancename}}.rule={% for domain_item in domains %}Host(`{{ domain_item }}`) {{ "||" if not loop.last else '' }} {% endfor %}     
        - traefik.http.routers.{{fullinstancename}}.entrypoints=web, websecure
        - traefik.http.routers.{{fullinstancename}}.tls=true
        - traefik.http.routers.{{fullinstancename}}.tls.certresolver=production
        - traefik.http.services.{{fullinstancename}}.loadbalancer.server.port=80
    {% endif %}

    
  mariadb:
    image: mariadb:latest
    container_name: {{fullinstancename_db}}
    restart: unless-stopped
    environment:
      - MYSQL_USER={{credentials.mariadb_nonrootuser}}
      - MYSQL_PASSWORD={{credentials.mariadb_nonrootpassword}}
      - MYSQL_ROOT_PASSWORD={{credentials.mariadb_password}}
      - MYSQL_DATABASE={{credentials.mariadb_dbname}}
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
  webdata:
  {{ addons_volume }}:
    external: true

networks:
  frontend:
    external:
      name: {{ front_network }}